{erl_opts, [debug_info]}.
{deps, [
    {klsn, {git, "https://github.com/ts-klassen/klsn.git", {tag, "1.12.0"}}}
  , {jsone, {git, "https://github.com/sile/jsone.git", {tag, "1.8.0"}}}
  , {cowlib, {git, "https://github.com/ninenines/cowlib.git", {tag, "2.13.0"}}}
  , {gpte, {git, "https://github.com/ts-klassen/gpte.git", {tag, "1.10.2"}}}
]}.
